<section class="darkgrey_section">
  <div class="container">
    <div class="trainer-dashboard">
      <h1 class="trainer-dashboard">Dashboard</h1>

      <h2 class="trainer-dashboard">Upcoming sessions</h2>
        <% if !@sessions.empty? %>
          <ul class="trainer-dashboard">
            <% @sessions.each do |session| %>
              <li style="list-style-type: none;">
                <p> Session date and time: <%= I18n.l(session.availability.available_at) %> with <%= link_to("#{session.purchased_session.user.first_name}", trainer_path(session.purchased_session.user)) %></p>
              </li>
            <% end %>
          </ul> 
        <% else %>
          <p class="trainer-dashboard">No upcoming sessions booked</p>
        <% end %>
      <h2 class="trainer-dashboard">Availability</h2>
      <p>Select times your availble by clicking on them and they save automatically</p>
      <%= render 'layouts/success' %>
      <%= render 'layouts/error' %>
      <div class="date-picker">
        <%= react_component("Calendar", user_id: current_user.id) %>
      </div>  
    </div>
  </div>  
</section>

<section id="copyright" class="light_section">
  <div class="container">
    <div class="row">

      <div class="col-sm-12 text-center">
        Copyright - Fidness
      </div>
    </div>
  </div>
</section>
