<section id="abovecontent" class="dark_section bg_image">
    <div class="container"><div class="row">
        <div class="block col-sm-12">
            <ul class="breadcrumb">
                <li><a href="./" class="pathway"><i class="rt-icon-home"></i></a></li>
                <li><span><a href="/trainers">Trainers</a></span></li>
            </ul>
        </div>
    </div></div>
</section>

<section class="darkgrey_section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="classes media light_section">
          <a href="#" class="pull-left">
            <%= image_tag(@trainer.avatar, alt: "image01", class: "media-object") if @trainer.avatar.attached? %>
          </a>

          <div class="media-body">
            <h3><%= "#{@trainer.first_name} #{@trainer.last_name}" %></h3>
            <div class="classes-description">
              <p><%= @trainer.profile.long_description %></p>
              <div class="calendar">
                <p><strong>Select a time for your first session with the trainer</strong></p>
                <div class="alert alert-danger alert-dismissable" style="display: none" id="error-message">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true" id="close-button">&times;</button>
                  <p><strong>Please select a time for your first session first</strong></p>
                </div>
                <%= react_component("ClientCalendar", user_id: @trainer.id, page: 'trainer') %>
              </div>
              <button type="button" id="purchase-button" class="btn btn-primary btn-lg">
                Purchase sessions
              </button>

              <!-- Modal -->
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                      <h2 class="modal-title" id="myModalLabel">Purchase sessions</h2>
                    </div>
                    <div class="modal-body">
                      <% if flash['errors'] %>
                        <div id="error_explanation">
                          <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <p><strong>This form contains <%= pluralize(flash['errors'].count, 'error') %>.</strong></p>
                            <ul>
                              <% flash['errors'].each do |msg| %>
                                <li><%= msg %></li>
                              <% end %>
                            </ul>
                          </div>
                        </div>
                      <% end %>
                      <div class="form-horizontal">

                        <form id="payment-form">
                          <div id="card-errors" role="alert"></div>
                          <div class="sr-result hidden">
                            <p>Payment completed<br/></p>
                            <pre>
                             <code></code>
                           </pre>
                          </div>
                          <div class="form-row">
                            <div class="col-sm-8 sessions">
                              -                              <%= select_options_html(@trainer) %>
                              -
                            </div>
                            <div class="col-sm-8 sessions">
                              <input id="cardholder-name" name="name" class="form-control" placeholder="Your name on the card" required>
                            </div>
                            <div class="col-sm-8 sessions">
                              <input id="cardholder-address" name="address" class="form-control" placeholder="Stree name and house number" required>
                            </div>
                            <div class="col-sm-8 sessions">
                              <input id="cardholder-city" name="city" class="form-control" placeholder="City">
                            </div>
                            <div class="col-sm-8 sessions">
                              <input id="cardholder-state" name="state" class="form-control" placeholder="County">
                            </div>
                            <div class="col-sm-8 sessions">
                              <div class="form-control" id="card-element"></div>
                            </div>
                            <div class="col-sm-8 sessions">
                              - <p class="total-price"></p>
                              -
                            </div>
                            <%= hidden_field_tag('trainer_id', @trainer.id) %>
                          </div>
                          <div class="spinner hidden" id="spinner"></div>
                          <button id="card-button" class="btn btn-default sessions">Submit Payment</button>
                        </form>
                      </div>
                      <div class="modal-footer"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
