<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
     <meta charset="utf-8">   
     <title>Fidness</title>
     <meta name="description" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% if @trainer && current_page?(trainer_path(@trainer.id)) %>
      <script type="text/javascript" src="https://js.stripe.com/v3/"></script>
      <script type="text/javascript">
        var stripe = Stripe("<%= Rails.application.credentials.config.fetch(:stripe).fetch(:publishable_key) %>");
      </script>
    <% end %>
    <!-- <script src="app/assets/javascripts/vendor/modernizr-2.6.2.min.js"></script> -->
    <!--[if lt IE 9]>
      <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
  </head>

  <body>
  <div id="header-sticky-wrapper" class="sticky-wrapper" style="height: 100px;">
    <header id="header">
      <div class="container">
        <div class="row">
          <%= link_to(root_path, class: "navbar-brand") do %>
            <img class="responsive-logo" src="<%= asset_pack_path('media/images/logo.png') %>">
          <% end %>

          <div class="col-sm-12 mainmenu_wrap">
            <div class="main-menu-icon visible-xs"><span></span><span></span><span></span></div>
            <ul id="mainmenu" class="menu sf-menu responsive-menu superfish">
              <li class="active">
                <%= link_to('Home', root_path) %>
              </li>
              <li class="dropdown">
                <%= link_to('Trainers', trainers_path) %>
              </li>
              <% if user_signed_in? %>
                <% if current_user.type == 'Client' %>
                  <li class="dropdown">
                    <%= link_to('Future Sessions', :future_sessions) %>
                  </li>
                <% else %>
                  <li class="dropdown">
                    <%= link_to('Trainer Dashboard', :trainer_dashboard) %>
                  </li>
                <% end %>
                <li class="dropdown">
                  <%= link_to('Sign Out', :destroy_user_session, :method => 'get') %>
                </li>
              <% else %>
                <li class="dropdown">
                  <%= link_to('Sign In', :new_user_session) %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </header>
  </div>
    <%= yield %>
    <section id="copyright" class="light_section">
      <div class="container">
        <div class="row">
          <div class="col-sm-2">
            Copyright - Fidness
          </div>
          <div class="col-sm-2">
            <%= link_to('Terms & Conditions', terms_and_conditions_path) %>
          </div>
          <div class="col-sm-2">
            <%= link_to('Cookie policy', cookie_policy_path) %>
          </div>
        </div>
      </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
    <script>
      window.cookieconsent.initialise({
        "palette": {
          "popup": {
            "background": "#000"
          },
          "button": {
            "background": "#f1d600"
          }
        },
        "content": {
          "href": "www.fidness.co.uk/cookie-policy"
        }
      });
    </script>
  </body>
</html>
